/* COMMON SHARED STYLES  */

* {
  font-family: "Merriweather", "Inter", serif;
}

/* BANNER SECTION STARTS */

#banner-section {
  padding: 0 50px;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./resources/Banner-Image.png");
  background-repeat: no-repeat;
  width: 95%;
  height: 500px;
  padding: 0px 30px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

.banner-text {
  text-align: center;
}

.banner-title {
  padding-top: 177px;
  font-weight: 400;
  color: #FFF;
  font-size: 32px;
}

.banner-heading {
  padding-bottom: 177px;
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;

}

/* BANNER IMAGE SECTION ENDS */

/* PROMO STARTS */
.discount-text-title {
  margin-top: 80px;
  text-align: center;
  color: #F00;
  font-size: 80px;
  font-weight: 700;
  font-family: Inter;
}

.discount-text-Holiday {
  padding-top: 10px;
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.discount-categories {
  margin-top: 16px;
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.new-year-img {
  margin: 10px 80px 10px 180px;
  max-width: 800px;
  max-height: 500px;
}

/* PROMO ENDS */

/* MIDNINGT PARTY STARTS */
.midnight-bg-image {
  background-image: linear-gradient(rgba(40, 39, 39, 0.35), rgba(0, 0, 0, 0.35)), url("./resources/Vectorrr.png");
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  max-width: 95%;
  height: 500px;
  border-radius: 5px;
  background-size: cover;
}

.logo-2024 {
  position: relative;
  top: -600px;
  right: -715px;
  max-width: 75%;
  height: 380px;

}

.welocome-midnight {
  padding-left: 126px;
  padding-top: 120px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 55px;
  font-weight: 900;
  line-height: 50px;
}

.welocome-midnight-details {
  padding-top: 10px;
  padding-left: 126px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Inter;
  font-style: normal;
  line-height: 48px;
  font-weight: 400;
}

.join {
  padding-left: 150px;
  padding-bottom: 200px;
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 800;
}


/* MIDNINGT PARTY ENDS */

/* THIS IS THE EVENT   */
.event-bgcolor {
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 120px;
  max-width: 1320px;
  max-height: 482px;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.05));
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.orangetext {
  color: #F00;
  font-size: 22px;
  font-weight: 600;
}

.button {
  max-width: 50;
  margin-left: 70px;
  margin-right: 70px;
  padding: 2px 2px;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  border-radius: 50px;
  background: #F00;
}

.descriptiion {
  font-size: 21px;
  font-family: Inter;
}


.bg-text {
  padding-left: 250px;
  padding-right: 250px;
  align-items: center;
  max-width: 549px;
  max-height: 500px;
  text-align: center;
}

/* EVENT ENDED */

/* BEST OFFER STARTED  */


.offer-coming-soon {
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.center-image {
  padding: 30px;
  border: 14px #F00 solid;
  border-radius: 50%;
  align-items: center;
}

.elipse {
  justify-content: center;
}

.best-offer {
  font-size: 24px;
  color: #F00;
}

.coming-soon {
  font-family: Inter;
  font-size: 38px;
}

.offer-description {
  text-align: start;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  padding-bottom: 20px;
}

.leftisde-text {
  text-align: left;
  padding-left: 18px;
  padding-top: 40px;
  padding-right: 10px;
}

.right-sided-text {
  padding-left: 25px;
  font-size: 20px;
}

.text-2024 {
  font-family: Inter;
  font-size: 50px;
  color: #F00;
}

.new-year-logo,
.new-year-logo-img {
  padding-right: px;
}

/* BEST OFFER ENDED  */

.Holiday-sale-parent {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 120px;
  align-items: center;
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.Holiday-sale-orange {
  color: rgb(255, 132, 0);
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
}

.Holidays-black-text {
  color: #070211;
  font-family: Inter;
  font-weight: 500;
  font-size: 60px;
}

.Holiday-sale-description {
  padding-bottom: 30px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

/* BONUS ENDED */

/* OPTIONAL STARTED */
.optional-section {
  margin: 0px 140px 120px 140px;
  height: 496px;
}

.box-image {
  max-width: 50%;
  position: relative;
  bottom: -120px;
  right: -10px;

}

.red-rectangle {
  max-width: 1000px;
  height: 147.7px;
  /* margin-left: 140px;
  margin-right: 140px; */
}

.ladie-image {
  max-width: 30%;
  position: relative;
  right: -596px;
  top: -409.4px;
}

.discount-image {
  max-width: 200px;
  position: relative;
  right: -230px;
  top: -440px;
}

/* OPTIONAL ENDS */

/* AWESOME PORTFOLIO STARTS  */

.awesome-portfolio-text {
  margin: 0 140px;
}

.best-gift {
  color: #F00;
  font-size: 20px;
}

.awesome-portfolio-title {
  font-size: 35px;
}

.awesome-portfolio-description {
  font-size: 17px;
}

.awsome-portfolio-image-parent {
  margin: 50px 50px 120px 50px;
  display: flexbox;
}

.main-image-child {
  padding: 5px;
  max-width: 290px;
  max-height: 290px;
}

/* AWESOME PORTFOLIO ENDED */
/* NEWSLETTER STARTED */
.subcribe-newsletter-parent {
  margin: 0px 80px 60px 80px;
  padding: 10px 50px 20px 20px;
  background-color: rgb(250, 230, 197);
  max-width: 950px;
  height: 380px;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
}

.subscribe-details {
  margin-bottom: 60px;
}

.email {
  margin-top: 50px;
  width: 10%;
  letter-spacing: 20px;
}

.input-group {
  justify-content: center;
  align-items: center;
  display: grid;
  display: flex;
}

input[type=email] {
  flex-grow: 0.2;
  padding: 10px;
  border: none;
  border-radius: 25px 0px 0px 25px;

}

.subscribe-btn {
  background-color: #ff0000;
  /* Adjust color as needed */
  color: white;
  border: none;
  padding: 9.8px;
  border: none;
  border-radius: 0px 25px 25px 0px;
}

/* newsletter ended */

/* FOOTER STARTS */

.footer-parent {
  margin-top: 80px;
  padding: 50px 80px;
  background-color: #070211;
  height: 400px;
}

.left-sided-text{
  color: #FFF;  
}
.allrights{
  padding-top: 250px;
}
 .logo, { 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo-scocial{
  position: relative;
  top: -180px;
  right: -380px;
}
.rightsided-texts{
  text-align: right;
  position: relative;
  color: red;
}
